@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-webkit-scrollbar{
    width: 7px;
    height: 10px;
}
    ::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 0px;
}
    ::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
}
    ::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

* {
    font-family: 'Roboto';
}

body {
    margin: 0;
}



/* Header */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 300px;

    background: #e0ebe9;
}

header h1 {
    z-index: 2;
}

svg {
    position: absolute;
    bottom: 0;
    transform: translate(0, 30%);
    z-index: 1;
}

/* Section */
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;

    background: #59b6a5;

    color: white;
}

section p {
    text-align: center;
}